<DocsDemo as |demo|>
  <demo.example @name="after-generate-changeset-webform-form.hbs">
    {{#if (eq this.step 2)}}
      <div data-test-id="step-2">
        <h2>Step 2</h2>
        <div>Step 2 content</div>
      </div>
    {{else}}
      <div data-test-id="step-1">
        <h2>Step 1</h2>
        <ChangesetWebform
          @formSchema={{this.formSchema}}
          @afterGenerateChangesetWebform={{this.afterGenerateChangesetWebform}}
          data-test-id="after-generate-changeset-webform-form"
        />
      </div>
    {{/if}}
    <div
      class="external body-text"
      data-test-id="after-generate-changeset-webform-feedback"
    >
      <h2>These buttons are not part of the ChangesetWebform component.</h2>
      <hr class="margin-top-lg" />
      <button
        class="btn btn-outline-gray-medium margin-top-lg"
        data-test-id="previous-button"
        type="button"
        {{on "click" this.prev}}
      >Previous step</button>
      <button
        class="btn btn-outline-gray-medium margin-top-lg"
        data-test-id="next-button"
        type="button"
        {{on "click" this.next}}
      >Next step</button>
    </div>
  </demo.example>
  <demo.snippet
    @name="after-generate-changeset-webform-form.hbs"
    @label="Component template"
    @language="htmlbars"
  />
  <demo.snippet
    @name="after-generate-changeset-webform-form.js"
    @label="Component JS"
    @language="javascript"
  />
</DocsDemo>