<DocsDemo as |demo|>
  <demo.example @name="after-field-validation-form.hbs">
    <ChangesetWebform
      @formSchema={{this.nameAndEmailFormSchema}}
      @afterFieldValidation={{this.afterFieldValidation}}
      data-test-id="after-field-validation-form"
    />
    {{#if this.lastValidatedField}}
      <div data-test-id="after-field-validation-feedback">
        The user's name is "{{this.name}}".<br />
        The last validated field was
        {{this.lastValidatedField}}.<br />
        {{#if this.fieldValidationErrors.validation.length}}
          The first argument to the afterFieldValidation argument has the
          following values:<br />
          <code>value: "{{this.fieldValidationErrors.value}}"</code><br />
          <code>validation: [{{this.fieldValidationErrors.validation}}]</code><br
          />
        {{else}}
          The
          {{this.lastValidatedField}}
          has no validation errors when its value is
          {{this.lastUpdatedFieldValue}}.<br />
        {{/if}}
        The form has the following fields:
        {{this.allFields}}.<br />
        The value of settings.formName is
        {{this.formName}}.
      </div>
    {{/if}}
  </demo.example>
  <demo.snippet
    @name="after-field-validation-form.js"
    @label="Component JS"
    @language="javascript"
  />
  <demo.snippet
    @name="after-field-validation-form.hbs"
    @label="Component template"
    @language="htmlbars"
  />
</DocsDemo>