<DocsDemo as |demo|>
  <demo.example @name="after-field-edit-action-form.hbs">
    <ChangesetWebform
      @formSchema={{this.userNamesFormSchema}}
      @onFieldValueChange={{this.onFieldValueChange}}
      data-test-id="after-field-edit-form"
    />
    {{#if this.fullName}}
      <div data-test-id="after-field-edit-feedback">
        The user's full name is "{{this.fullName}}".<br />
        The last updated field was
        {{this.lastUpdateField}}.<br />
        The value of settings.formName is
        {{this.formName}}.
      </div>
    {{/if}}
  </demo.example>
  <demo.snippet
    @name="after-field-edit-action-form.js"
    @label="Component JS"
    @language="javascript"
  />
  <demo.snippet
    @name="after-field-edit-action-form.hbs"
    @label="Component template"
    @language="htmlbars"
  />
</DocsDemo>