{{#if @labelComponent}}
  {{#if @labelComponent.path}}
    {{#let (component @labelComponent.path) as |LabelComponent|}}
      <LabelComponent
        @props={{@labelComponent.props}}
        @option={{@option}}
        name={{@name}}
        @radioId={{@radioId}}
        class={{@class}}
        @for={{@for}}
      />
    {{/let}}
  {{else}}
    {{#let (component @labelComponent) as |LabelComponent|}}
      <LabelComponent @option={{@option}} class={{@class}} @for={{@for}} />
    {{/let}}
  {{/if}}
{{else if @markdownLabel}}
  <label for="{{@for}}"><Background::MarkdownToHtml
      @source={{@markdownLabel}}
      class={{@class}}
    /></label>
{{else if @label}}
  <label for="{{@for}}" class={{@class}}>{{@label}}</label>
{{/if}}