<div
  class="{{ember-changeset-webforms/dynamic-class-names
      'labelledRadioButton'
      @changesetWebform
      @formField
      @formField.validationStatus
    }}
    {{if @disabled 'disabled'}}"
  data-test-id={{this.radioId}}
  data-test-option="radio-option-{{@option.value}}"
  data-test-labelled-radio-button
>
  <RadioButton
    @value={{@value}}
    @groupValue={{@groupValue}}
    @name={{@name}}
    @changed={{@changedAction}}
    @radioId={{this.radioId}}
    @disabled={{@disabled}}
    @ariaLabelledby={{this.labelId}}
    @radioClass="{{ember-changeset-webforms/dynamic-class-names
      'radioButtonElement'
      @changesetWebform
      @formField
      @formField.validationStatus
    }}"
  />
  <Background::LabelComponent
    @labelComponent={{@labelComponent}}
    @option={{@option}}
    @markdownLabel={{@markdownLabel}}
    @label={{@label}}
    @for={{this.radioId}}
    @labelId={{this.labelId}}
    @checked={{this.checked}}
    class={{ember-changeset-webforms/dynamic-class-names
      "radioButtonLabel"
      @changesetWebform
      @formField
      @formField.validationStatus
    }}
  />
</div>