{{#if @labelComponent}}
  {{#if @labelComponent.path}}
    {{#let (component @labelComponent.path) as |LabelComponent|}}
      <LabelComponent
        @props={{@labelComponent.props}}
        @option={{@option}}
        name={{@name}}
        class={{@class}}
        @for={{@for}}
        @labelId={{@labelId}}
        @checked={{@checked}}
      />
    {{/let}}
  {{else}}
    {{#let (component @labelComponent) as |LabelComponent|}}
      <LabelComponent @option={{@option}} class={{@class}} @for={{@for}} />
    {{/let}}
  {{/if}}
{{else if @markdownLabel}}
  <label for={{@for}} id={{@labelId}}><Background::MarkdownToHtml
      @source={{@markdownLabel}}
      class={{@class}}
    /></label>
{{else if @label}}
  <label for={{@for}} id={{@labelId}} class={{@class}}>{{@label}}</label>
{{/if}}