{{#if @timeFormatPart}}
  <div
    data-test-class="time-selector-field"
    data-test-id="time-selector-field-{{@timeFormatPart.type}}"
    class="time-selector-field time-selector-field-{{@timeFormatPart.type}}"
  >
    <label
      for="time-selector-{{@timeFormatPart.type}}"
      data-test-class="time-selector-field-label"
      data-test-id="time-selector-field-label-{{@timeFormatPart.type}}"
      class={{@timeInputLabelClass}}
    >{{@timeFormatPart.label}}</label>
    <input
      id="time-selector-{{@timeFormatPart.type}}"
      data-test-class="time-selector-field-input"
      data-test-id="time-selector-field-input-{{@timeFormatPart.type}}"
      type="number"
      max={{@timeFormatPart.max}}
      min={{@timeFormatPart.min}}
      value={{readonly
        (if
          @value
          (ember-changeset-webforms/moment-format
            (ember-changeset-webforms/moment @value @dateTimeFormat)
            @timeFormatPart.formatChar
          )
        )
      }}
      {{on "keyup" (fn @keyupAction @timeFormatPart.formatChar)}}
      {{on "keydown" (fn @keydownAction @timeFormatPart.formatChar)}}
      {{on "change" (fn @changeAction @timeFormatPart.formatChar)}}
      class="time-selector-field-input-{{@timeFormatPart.type}}
        {{@timeInputClass}}"
    />
  </div>
{{/if}}