<div class="checkbox-group-container field-controls validation-area">
  {{#each options as |option|}}
    <Background::LabelledCheckbox data-test-id={{concat dataTestFieldId "-checkbox-option-" option.value}} @value={{readonly option.value}} @label={{option.label}} @changedAction={{action "checkboxToggled" option.key}} @name={{formField.name}} @disabled={{or option.disabled formField.disabled (and formField.preventEmpty option.onlyCheckedOption)}} />
  {{/each}}
</div>