<EmberChangesetWebforms::FieldElements::FieldLabel @formField={{formField}} />
  <div role="button" class={{formField.clickerElementClass}} {{action onClick formField}} data-test-class="cwf-clicker-element">{{or (component formField.displayComponent changesetProp=changesetProp displayComponentProps=formField.displayComponentProps) formField.clickerText}}</div>
<EmberChangesetWebforms::FieldElements::FieldErrors @changesetProp={{changesetProp}} @formField={{formField}} @displayValidation={{displayValidation}} />