<button
  type={{this.customType}}
  data-test-id={{this.data-test-id}}
  disabled={{this.disabled}}
  ...attributes
>
  {{@formSettings.submitButtonText}}
  {{#if @changesetWebform.formSettings.requestInFlight}}
    {{#if @formSettings.submitButtonIcon}}
      {{#let (component @formSettings.submitButtonIcon) as |SubmitIcon|}}
        <SubmitIcon
          class={{ember-changeset-webforms/dynamic-class-names
            "buttonIcon,submitButtonIcon"
            @changesetWebform
          }}
        />
      {{/let}}
    {{else}}
      <div></div>
    {{/if}}
  {{/if}}
</button>