<EmberChangesetWebforms::FieldElements::FieldLabel @formField={{@formField}} />
{{#if @formField.displayComponent}}
  {{component
    @formField.displayComponent.path
    props=@formField.displayComponent.props
    formField=@formField
    clickerElementClass=(ember-changeset-webforms/dynamic-class-names
      "clickerElement" @changesetWebform @formField
    )
    changesetWebform=@changesetWebform
    onClick=(fn this.onClick @formField)
  }}
{{else}}
  <div
    role="button"
    class={{ember-changeset-webforms/dynamic-class-names
      "clickerElement"
      @changesetWebform
      @formField
      @formField.validationStatus
    }}
    {{on "click" (fn this.onClick @formField)}}
    data-test-class="cwf-clicker-element"
  >{{@formField.clickerText}}</div>
{{/if}}