<div
  class="{{ember-changeset-webforms/dynamic-class-names
      'optionsWrapper'
      @changesetWebform
      @formField
      @formField.validationStatus
    }}"
  ...attributes
>
  {{#each @formField.options as |option|}}
    <Background::LabelledRadioButton
      @value={{option.value}}
      @groupValue={{@formField.fieldValue}}
      @required={{false}}
      @name={{or @formField.name @formField.id}}
      @disabled={{if @formField.disabled true option.disabled}}
      @label={{option.label}}
      @labelComponent={{or
        option.labelComponent
        @formField.optionLabelComponent
      }}
      @markdownLabel={{option.optionLabelMarkdown}}
      @containerName={{@formSettings.formName}}
      @changedAction={{this.onRadioChange}}
      @option={{option}}
      @changesetWebform={{@changesetWebform}}
      @formField={{@formField}}
    />
  {{/each}}
</div>