<div
  class="changeset-webform
    {{ember-changeset-webforms/dynamic-class-names
      'formWrapper'
      this.changesetWebform
      null
      @requestInFlight
    }}"
  {{did-insert this.didInsert}}
  ...attributes
>
  <form
    {{on "submit" this.submitForm}}
    class={{concat
      this.formValidationClass
      " "
      (ember-changeset-webforms/dynamic-class-names
        "formElement" this.changesetWebform
      )
    }}
    novalidate={{this.formSettings.novalidate}}
    data-test-id={{ember-changeset-webforms/safe-name
      this.formSettings.formName
    }}
  >
    <div
      class="{{ember-changeset-webforms/dynamic-class-names
          'formFields'
          this.changesetWebform
          null
          @requestInFlight
        }}"
    >
      {{#each this.changesetWebform.fields as |formField|}}
        <EmberChangesetWebforms::FieldElements::ValidatingField
          @formField={{formField}}
          @changesetWebform={{this.changesetWebform}}
          @dataTestFormName={{this.formSettings.dataTestFormName}}
          @afterClickAddCloneButton={{@afterClickAddCloneButton}}
          @formSettings={{this.formSettings}}
          @formFields={{this.changesetWebform.fields}}
          @submitForm={{fn
            this.submitForm
            this.changesetWebform
            this.formSettings.modelName
          }}
          @afterFieldValidation={{this.afterFieldValidationAction}}
          @onFieldValueChange={{this.onFieldValueChangeAction}}
          @onUserInteraction={{this.onUserInteraction}}
          @onFieldInserted={{this.onFieldInsertedAction}}
        />
      {{/each}}
    </div>
    {{yield}}
    <div
      class="{{ember-changeset-webforms/dynamic-class-names
          'formActions'
          this.changesetWebform
          null
          @requestInFlight
        }}"
    >
      {{#unless this.formSettings.hideSubmitButton}}
        <EmberChangesetWebforms::FormElements::FormSubmitButton
          {{on
            "click"
            (fn
              this.submitForm this.changesetWebform this.formSettings.modelName
            )
          }}
          @value={{this.formSettings.submitButtonText}}
          @requestInFlight={{@requestInFlight}}
          data-test-id="cwf-submit-form-button"
          @disabled={{this.formSettings.submitDisabled}}
          @formSettings={{this.formSettings}}
          @changesetWebform={{this.changesetWebform}}
          class="{{ember-changeset-webforms/dynamic-class-names
              'buttonElement,submitButton'
              this.changesetWebform
            }}"
        />
      {{/unless}}
      {{#if this.formSettings.showRollbackChangesetButton}}
        <button
          class={{this.formSettings.showRollbackChangesetButtonClasses}}
          type="button"
          data-test-id="cwf-reset-form-button"
          {{on "click" (fn this.discardChanges this.changesetWebform)}}
        >{{this.formSettings.showRollbackChangesetButtonText}}</button>
      {{/if}}
      {{#if this.formSettings.showClearFormButton}}
        <button
          type="button"
          data-test-id="cwf-reset-form-button"
          {{on "click" (fn this.clearForm this.changesetWebform)}}
          class="{{ember-changeset-webforms/dynamic-class-names
              'buttonElement,clearFormButton'
              this.changesetWebform
            }}"
        >{{this.formSettings.clearFormButtonText}}</button>
      {{/if}}
    </div>
  </form>
</div>