<div
  class="changeset-webform
    {{ember-changeset-webforms/dynamic-class-names
      'formWrapper'
      this.changesetWebform
      null
      @requestInFlight
    }}"
   {{did-insert (action "didInsert")}} ...attributes
>
  <form
    {{action "submit" on="submit"}}
    class={{this.formValidationClass}}
    novalidate={{this.formSettings.novalidate}}
  >
    <div
      class="{{ember-changeset-webforms/dynamic-class-names
          'formFields'
          this.changesetWebform
          null
          @requestInFlight
        }}"
    >
      {{#each this.changesetWebform.fields as |formField|}}
        <EmberChangesetWebforms::FieldElements::ValidatingField
          @formField={{formField}}
          @changesetWebform={{this.changesetWebform}}
          @dataTestFormName={{this.formSettings.dataTestFormName}}
          @afterAddClone={{@afterAddClone}}
          @afterClickAddCloneButton={{@afterClickAddCloneButton}}
          @afterRemoveClone={{@afterRemoveClone}}
          @formSettings={{this.formSettings}}
          @formFields={{this.changesetWebform.fields}}
          @submitForm={{action
            "submit"
            this.changesetWebform
            this.formSettings.modelName
          }}
          @afterFieldValidation={{action "afterFieldValidation"}}
          @onFieldValueChange={{action "onFieldValueChange"}}
          @onUserInteraction={{action "onUserInteraction"}}
        />
      {{/each}}
    </div>
    {{yield}}
    <div
      class="{{ember-changeset-webforms/dynamic-class-names
          'formActions'
          this.changesetWebform
          null
          @requestInFlight
        }}"
    >
      {{#unless this.formSettings.hideSubmitButton}}
        <EmberChangesetWebforms::FormElements::FormSubmitButton
          onclick={{action "submit" this.changesetWebform this.formSettings.modelName}}
          @value={{this.formSettings.submitButtonText}}
          @requestInFlight={{@requestInFlight}}
          data-test-id="cwf-submit-form-button"
          @disabled={{this.formSettings.submitDisabled}}
          @formSettings={{this.formSettings}}
          @changesetWebform={{this.changesetWebform}}
          class="{{ember-changeset-webforms/dynamic-class-names
              'buttonElement,submitButton'
              this.changesetWebform
            }}"
        />
      {{/unless}}
      {{#if this.formSettings.showRollbackChangesetButton}}
        <button
          class={{this.formSettings.showRollbackChangesetButtonClasses}}
          type="button"
          data-test-id="cwf-reset-form-button"
          {{action "discardChanges" this.changesetWebform}}
          class="{{ember-changeset-webforms/dynamic-class-names
              'buttonElement,rollbackChangesetButton'
              this.changesetWebform
            }}"
        >{{this.formSettings.showRollbackChangesetButtonText}}</button>
      {{/if}}
      {{#if this.formSettings.showClearFormButton}}
        <button
          type="button"
          data-test-id="cwf-reset-form-button"
          {{action "clearForm" this.changesetWebform}}
          class="{{ember-changeset-webforms/dynamic-class-names
              'buttonElement,clearFormButton'
              this.changesetWebform
            }}"
        >{{this.formSettings.clearFormButtonText}}</button>
      {{/if}}
    </div>
  </form>
</div>