<form {{action "submit" on="submit"}} class={{formValidationClass}} novalidate={{formObject.formSettings.novalidate}}>
  <div class="form-section form-fields">
    {{#each formFields as |formField|}}
      <EmberChangesetWebforms::FieldElements::ValidatingField
        @processedFieldSchema={{formField}}
        @dataTestFormName={{formSettings.dataTestFormName}}
        @afterAddClone={{afterAddClone}}
        @afterRemoveClone={{afterRemoveClone}}
        @afterKeyUpAction={{afterKeyUpAction}}
        @changesetProp={{changesetProp}}
        @formSettings={{formSettings}}
        @formFields={{formFields}}
        @submitForm={{action "submit" changesetProp formSettings.modelName}}
        @afterFieldValidation={{action "afterFieldValidation"}}
        @afterFieldEdit={{action "afterFieldEdit"}}
      />
    {{/each}}
  </div>
  {{yield}}
  <div class="form-section form-submit">
    {{#unless formSettings.hideSubmitButton}}
      <EmberChangesetWebforms::FormElements::FormSubmitButton @click={{action "submit" changesetProp formSettings.modelName}} @value={{submitButtonText}} @requestInFlight={{requestInFlight}} @data-test-id="evf-submit-form-button" @disabled={{formSettings.submitDisabled}} @formSettings={{formSettings}} />
    {{/unless}}
    {{#if formSettings.showDiscardChangesButton}}
      <button class={{formSettings.showDiscardChangesButtonClasses}} type="button" data-test-id="evf-reset-form-button" onclick={{action "discardChanges" changesetProp}}>{{formSettings.showDiscardChangesButtonTetx}}</button>
    {{/if}}
    {{#if formSettings.showClearFormButton}}
      <button class={{formSettings.clearFormButtonClasses}} type="button" data-test-id="evf-reset-form-button" {{action "clearForm"}}>{{formSettings.clearFormButtonText}}</button>
    {{/if}}
  </div>
</form>