<form {{action "submit" on="submit"}} class={{formValidationClass}} novalidate={{formSettings.novalidate}}>
  <div class="{{ember-changeset-webforms/dynamic-class-names "formFields" changesetWebform null requestInFlight}}">
    {{#each changesetWebform.fields as |formField|}}
      <EmberChangesetWebforms::FieldElements::ValidatingField
        @formField={{formField}}
        @changesetWebform={{changesetWebform}}
        @dataTestFormName={{formSettings.dataTestFormName}}
        @afterAddClone={{afterAddClone}}
        @afterClickAddCloneButton={{afterClickAddCloneButton}}
        @afterRemoveClone={{afterRemoveClone}}
        @formSettings={{formSettings}}
        @formFields={{changesetWebform.fields}}
        @submitForm={{action "submit" changesetWebform.changeset formSettings.modelName}}
        @afterFieldValidation={{action "afterFieldValidation"}}
        @onFieldValueChange={{action "onFieldValueChange"}}
        @onUserInteraction={{action "onUserInteraction"}}
      />
    {{/each}}
  </div>
  {{yield}}
  <div class="{{ember-changeset-webforms/dynamic-class-names "formActions" changesetWebform null requestInFlight}}">
    {{#unless formSettings.hideSubmitButton}}
      <EmberChangesetWebforms::FormElements::FormSubmitButton 
        @click={{action "submit" changesetWebform formSettings.modelName}} 
        @value={{formSettings.submitButtonText}} 
        @requestInFlight={{requestInFlight}} 
        @data-test-id="cwf-submit-form-button" 
        @disabled={{formSettings.submitDisabled}} 
        @formSettings={{formSettings}} 
        @changesetWebform={{changesetWebform}}
        class="{{ember-changeset-webforms/dynamic-class-names "buttonElement,submitButton" changesetWebform}}" />
    {{/unless}}
    {{#if formSettings.showDiscardChangesButton}}
      <button class={{formSettings.showDiscardChangesButtonClasses}} type="button" data-test-id="cwf-reset-form-button" onclick={{action "discardChanges" changesetWebform.changeset}} class="{{ember-changeset-webforms/dynamic-class-names "buttonElement,discardChangesButton" changesetWebform}}">{{formSettings.showDiscardChangesButtonText}}</button>
    {{/if}}
    {{#if formSettings.showClearFormButton}}
      <button type="button" data-test-id="cwf-reset-form-button" {{action "clearForm"}} class="{{ember-changeset-webforms/dynamic-class-names "buttonElement,clearFormButton" changesetWebform}}">{{formSettings.clearFormButtonText}}</button>
    {{/if}}
  </div>
</form>