<h3>{{formMetaData.title}}</h3>
<form {{action "submit" on="submit"}} data-test-id="validating-form">
  {{#each formFields as |formField index|}}
    {{validating-form-field
      data-test-validating-field
      formField=formField
      setFormFieldValue=(action "setFormFieldValue")
      setFormFieldError=(action "setFormFieldError")
      customValidations=(action "customValidations")
      afterKeyUpAction=afterKeyUpAction
      afterValidationAction=afterValidationAction
      data-test-id=(concat "validating-field-" formField.fieldId)
    }}
  {{/each}}
  {{form-submit-button value=submitButtonText requestInFlight=requestInFlight data-test-id="evf-submit-form-button"}}
  {{form-submit-feedback formMetaData=formMetaData}}
  {{#if formMetaData.showResetButton}}
    <button type="button" data-test-id="evf-reset-form-button" onclick={{action "resetForm"}}>{{resetButtonText}}</button>
  {{/if}}
</form>