<div
  class="{{ember-changeset-webforms/dynamic-class-names
      'labelledCheckbox'
      changesetWebform
      formField
      formField.validationStatus
    }}
    {{if disabled 'disabled'}}"
  data-test-id={{dataTestId}}
>
  <input
    type="checkbox"
    checked={{readonly value}}
    onclick={{action "checkboxClicked"}}
    disabled={{disabled}}
    id={{checkboxId}}
    name={{name}}
    class="{{ember-changeset-webforms/dynamic-class-names
        'checkboxElement'
        changesetWebform
        formField
        formField.validationStatus
      }}"
  />
  <Background::LabelComponent
    @labelComponent={{labelComponent}}
    @markdownLabel={{markdownLabel}}
    @label={{label}}
    @for={{checkboxId}}
    class={{ember-changeset-webforms/dynamic-class-names
      "checkboxLabel"
      changesetWebform
      formField
      formField.validationStatus
    }}
  />
</div>