<BasicDropdown as |dropdown|>
  <dropdown.trigger>
    <input type="text" value={{displayValue}} placeholder={{placeholder}} readonly>
  </dropdown.trigger>
  <dropdown.content>
    <div class={{calendarContainerClasses}}>
      <PowerCalendarRange @center={{center}} @selected={{value}} @minDate={{minDate}} @maxDate={{maxDate}} @startTime={{startTime}} @endTime={{endTime}} @onCenterChange={{action (mut center) value="date"}} @onSelect={{action "rangeSelected" value="date"}} as |calendar|>
        <Background::PowerCalendarNav @calendar={{calendar}} @moveCenter={{action calendar.actions.moveCenter}} />
        <calendar.days @minDate={{minDate}} @maxDate={{maxDate}} />
      </PowerCalendarRange>
    </div>
  </dropdown.content>
</BasicDropdown>