<BasicDropdown 
  @renderInPlace={{true}} 
  @onClose={{action "checkDateInputFocus"}} as |dropdown|>
  <dropdown.Trigger 
    @eventType="mousedown"
    onmousedown={{action "onTriggerFocus"}}>
    {{#if value}}
      <div role="button" class="clear-date-time-button {{dynamicClassClearDateTime}}" data-test-id="datetime-picker-clear-datetime" onclick={{action "clearDateTime"}}>×</div>
    {{else}}
      <div class="calendar-icon"></div>
    {{/if}}
    <input class="date-select" type="text" value={{if value (moment-format (moment value dateDisplayFormat) dateDisplayFormat)}} placeholder={{parsedDatepickerPlaceholder}} onChange={{action "onDateInputChange"}} onKeyUp={{action "onDateInputKeyUp"}} onFocus={{action "onDateInputFocus"}} onBlur={{action "onDateInputBlur"}}>
  </dropdown.Trigger>
  <dropdown.Content>
    <div class={{calendarContainerClasses}}>
      <PowerCalendar 
        @minDate={{minDate}} 
        @maxDate={{maxDate}} 
        @selected={{selectedDate}} 
        @onSelect={{action "dateClicked" dropdown}} 
        @onCenterChange={{action (mut center) value="date"}} 
        @center={{center}} 
        @class={{calendarClass}} as |calendar|>
        <Background::PowerCalendarNav 
          @calendar={{calendar}} 
          @moveCenter={{action calendar.actions.moveCenter}} />
        <calendar.days 
          @minDate={{minDate}} 
          @maxDate={{maxDate}} />
      </PowerCalendar>
      {{#if (and showTimeSelector value)}}
        <div data-test-type="time-selector" class="time-select {{unless value "disabled"}}">
          {{#each timeFormatParts as | timeFormatPart| }}
              <div>
                <label for="time-selector-{{timeFormatPart.type}}" data-test-class="time-selector-label-{{timeFormatPart.type}}">{{timeFormatPart.label}}</label>
                <input id="time-selector-{{timeFormatPart.type}}" data-test-class="time-selector-input-{{timeFormatPart.type}}" type="number" max={{timeFormatPart.max}} min={{timeFormatPart.min}} value={{readonly (if value (moment-format value timeFormatPart.formatChar))}} onChange={{action "setTime" timeFormatPart.formatChar}} onKeyDown={{action "onKeyDownTimePartInput" timeFormatPart.formatChar}}>
              </div>
          {{/each}}
          {{#if showAmPmInput}}
            <div>
              AM/PM
              <input type="text" value={{if value (moment-format value "a")}} onChange={{action "onChangeAmPm"}} onFocus={{action "onFocusInAmPm"}} onBlur={{action "onChangeAmPm"}} onKeyUp={{action "onKeyUpAmPm"}} data-test-id="power-datepicker-am-pm-input">
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </dropdown.Content>
</BasicDropdown>