<div class="cloned-fields">
  {{#each masterFormField.clonedFields as |clonedFormField index| }}
    <EmberChangesetWebforms::ClonedFieldElements::ValidatingClone 
      @onFocusOutClone={{action "onFocusOutClone" index}}
      @onFocusInClone={{action "onFocusInClone" index}}
      @onKeyUpClone={{action "onKeyUpClone" index}}
      @onUserInteractionClone={{action "onUserInteractionClone" index}}
      @onChangeClone={{action "onChangeClone" index}}
      @validateProperty={{action validateProperty}} 
      @cloneField={{action "cloneField"}} 
      @removeClone={{action "removeClone"}} 
      @changesetProp={{changesetProp}} 
      @index={{index}} 
      @groupValue={{groupValue}} 
      @clonedFormField={{clonedFormField}} 
      @masterFormField={{masterFormField}} 
      @processedFieldSchema={{clonedFormField}} />
  {{/each}}
</div>
<div class="clone-group-actions">
  {{#if (eq masterFormField.cloneCountStatus "max")}}
    <div class="max-clones-reached" data-test-id="max-clones-reached">{{masterFormField.maxClonesReachedText}}</div>
  {{else}}
    Test
    {{component masterFormField.addCloneButtonComponent cloneField=(action "cloneField") masterFormField=masterFormField}}
  {{/if}}
</div>