<EmberChangesetWebforms::FieldElements::FieldLabel 
  @formField={{masterFormField}} />
<EmberChangesetWebforms::FieldElements::FieldErrors 
  @changesetProp={{changesetProp}} 
  @formField={{masterFormField}} 
  @displayValidation={{displayValidation}}
  @validationErrorsArray={{masterFormFieldValidationErrors}}
  @class="clone-group-field-errors" />
<div class="clone-group-items">
  {{#each masterFormField.clonedFields as |clonedFormField index| }}
    <EmberChangesetWebforms::ClonedFieldElements::ValidatingClone 
      @cloneField={{action "cloneField"}} 
      @setFieldValue={{action setFieldValue}} 
      @validateProperty={{action validateProperty}} 
      @removeClone={{action "removeClone"}}
      @updatedGroupValue={{updatedGroupValue}} 
      @changesetProp={{changesetProp}} 
      @index={{index}} 
      @groupValue={{groupValue}} 
      @clonedFormField={{clonedFormField}} 
      @masterFormField={{masterFormField}} 
      @processedFieldSchema={{clonedFormField}} 
      data-test-id={{concat masterFormField.fieldId "-clone-" clonedFormField.cloneId "-wrapper"}} />
  {{/each}}
</div>
<div class="clone-group-actions">
  {{#if (eq masterFormField.cloneCountStatus "max")}}
    <div class="max-clones-reached" data-test-id="max-clones-reached">{{masterFormField.maxClonesReachedText}}</div>
  {{else}}
    {{component masterFormField.addCloneButtonComponent cloneField=(action "cloneField") masterFormField=masterFormField}}
  {{/if}}
</div>