{{! BEGIN-SNIPPET custom-field-component.hbs }}
<div class="input-group">
  <PowerSelect
    @triggerClass="input-group-text pe-5"
    @options={{this.countryCodes}}
    @selected={{this.selectedCountryCode}}
    @allowClear={{false}}
    @searchEnabled={{false}}
    @placeholder="Country code"
    @onChange={{fn this.codeSelected @formField}}
    @disabled={{@formField.disabled}}
    as |option|
  >
    {{option.code}}
    -
    {{option.name}}
  </PowerSelect>
  <input
    class="form-control"
    {{on "focusout" this.inputFocusOut}}
    {{on "focusin" this.inputFocusIn}}
    {{on "keyup" this.inputKeyUp}}
    {{on "change" this.inputChange}}
    value={{readonly this.displayObject.phoneNumber}}
    type="text"
    readonly={{@formField.readonly}}
    disabled={{@formField.disabled}}
    name={{concat @formField.name "-phone-number-input"}}
    ariaLabelledBy={{@ariaLabelledBy}}
    aria-label={{@ariaLabel}}
    aria-errormessage="{{@formField.id}}-errors"
    aria-describedby="{{@formField.id-description}}"
  />
</div>
{{! END-SNIPPET }}