{{! BEGIN-SNIPPET custom-field-component.hbs }}
{{! components/custom-fields/phone-number-with-country-code.hbs }}
<div class="input-group padding-0">
  <PowerSelect
    @triggerClass="{{ember-changeset-webforms/dynamic-class-names
      'countryCodeTrigger'
      @changesetWebform
      @formField
    }}"
    @options={{this.countryCodes}}
    @selected={{this.selectedCountryCode}}
    @allowClear={{false}}
    @searchEnabled={{false}}
    @placeholder="Country code"
    @onChange={{this.codeSelected}}
    @disabled={{@formField.disabled}}
    ariaLabelledBy={{@ariaLabelledBy}}
    aria-label={{@ariaLabel}}
    aria-errormessage={{@ariaErrorMessage}}
    aria-describedby={{@ariaDescribedBy}}
    as |option|
  >
    {{option.code}}
    -
    {{option.name}}
  </PowerSelect>
  <input
    id={{@formField.id}}
    class="{{ember-changeset-webforms/dynamic-class-names
        'phoneNumberInput'
        @changesetWebform
        @formField
      }}"
    {{on "focusout" this.inputFocusOut}}
    {{on "focusin" this.inputFocusIn}}
    {{on "keyup" this.inputKeyUp}}
    {{on "change" this.inputChange}}
    value={{this.fieldValueObject.phoneNumber}}
    type="text"
    readonly={{@formField.readonly}}
    disabled={{@formField.disabled}}
    required={{@formField.required}}
    name={{concat @formField.name "-phone-number-input"}}
    ariaLabelledBy={{@ariaLabelledBy}}
    aria-label={{@ariaLabel}}
    aria-errormessage={{@ariaErrorMessage}}
    aria-describedby={{@ariaDescribedBy}}
  />
</div>
{{! END-SNIPPET }}