<h2 id="title">POJO Validating Forms</h2>

{{outlet}}
{{!-- {{#with (changeset model (action "validate")) as |changesetObj|}}
  {{dummy-form
    changeset=changesetObj
    submit=(action "submit")
    rollback=(action "rollback")
  }}
{{/with}} --}}

{{!-- {{dummy-form
  changeset=changeset
  submit=(action "submit")
  rollback=(action "rollback")
}} --}}
{{log UserValidations}}
{{dummy-form
  changeset=(changeset model UserValidations)
  submit=(action "submit")
  rollback=(action "rollback")
}}


{{model.firstName}}
{{model.lastName}}

