<h1>Users</h1>
<table data-test-id="users-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Birth Date</th>
      <th>Gender</th>
      <th>Country</th>
      <th>Phone Number</th>
      <th>Bio</th>
      <th>Favourite Colours</th>
      <th>Password</th>
      <th>Password confirmation</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user| }}
      <tr>
        <td>{{user.id}}</td>
        <td data-test-id="name">{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{moment-format user.info.birth_date "YYYY-MM-DD"}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.info.address.country}}</td>
        <td>{{user.info.phone_number}}</td>
        <td>{{user.bio}}</td>
        <td>{{user.favoutite_colours}}</td>
        <td>{{user.password}}</td>
        <td>{{user.password_confirmation}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>