<div data-test-type="form-field-power-select">
  <PowerSelect @triggerClass="validation-area" @options={{formField.options}} @selected={{changeset-get changesetProp formField.propertyName}} @searchPlaceholder={{formField.searchPlaceholder}} @searchField={{formField.optionDisplayProp}} @allowClear={{allowClear}} @searchEnabled={{formField.searchEnabled}} @placeholder={{formField.placeholder}} @onChange={{action onUserInteraction formField}} @onclose={{onclose}} @triggerId={{formField.name}} @disabled={{formField.disabled}} as |option|>
    {{#if formField.optionComponent}}
      {{component formField.optionComponent option=option}}
    {{else}}
      <Background::PowerSelectOption @option={{option}} @optionDisplayProp={{formField.optionDisplayProp}} @fieldId={{formField.fieldId}} 
      @optionName={{if formField.optionDisplayProp (get option formField.optionDisplayProp) option}}
      />
    {{/if}}
  </PowerSelect>
</div>
