{{ember-pojo-form/form-field-label formField=formField}}
<div class="field-controls">
  <div data-test-type="form-field-power-select">
    {{#power-select-multiple
        triggerClass="validation-area"
        searchField=formField.searchField
        options=formField.options
        selected=(readonly formField.value)
        searchPlaceholder=formField.searchPlaceholder
        allowClear=allowClear
        searchEnabled=formField.searchEnabled
        placeholder=formField.placeholder
        onchange=(action onUserInteraction)
        onclose=onclose
        triggerId=formField.fieldId
        as |option|
        }}
        {{!-- <span style="color: {{option.colour}}">{{option.name}}</span> --}}
        {{option}}
      {{/power-select-multiple}}
      </div>
  {{component inputIcon class="form-field-icon"}}
</div>
{{ember-pojo-form/form-field-error formField=formField}}