{{#if (eq formField.textElement "h2")}}
  <h2>{{formField.text}}</h2>
{{else if (eq formField.textElement "h3")}}
  <h3>{{formField.text}}</h3>
{{else if (eq formField.textElement "h4")}}
  <h4>{{formField.text}}</h4>
{{else if (eq formField.textElement "p")}}
  <p>{{formField.text}}</p>
{{else}}
  {{formField.text}}
{{/if}}