{{ember-pojo-form/form-field-label formField=formField}}
<div class="field-controls test">
  <div data-test-type="form-field-power-select">
    {{#power-select-multiple
      triggerClass="validation-area"
      searchField=formField.optionDisplayProp
      options=formField.options
      selected=(readonly displayValue)
      searchPlaceholder=formField.searchPlaceholder
      allowClear=allowClear
      searchEnabled=formField.searchEnabled
      placeholder=formField.placeholder
      onchange=(action "onchange")
      onkeydown=(action "onkeydown")
      onclose=onclose
      triggerId=formField.fieldId
      as |option|
      }}
      {{#if formField.optionComponent}}
        {{component formField.optionComponent option=option}}
      {{else}}
        {{background/power-select-option option=option optionDisplayProp=formField.optionDisplayProp fieldId=formField.fieldId}}
      {{/if}}
    {{/power-select-multiple}}
  </div>
</div>
{{ember-pojo-form/form-field-error changeset=changeset formField=formField displayValidation=displayValidation}}