{{#unless formField.hideLabel}}
  {{#if formField.labelComponent}}
    <label for={{formField.name}}>{{component labelComponent}}</label>
  {{else if formField.fieldLabel}}
    <label for={{formField.name}}>{{formField.fieldLabel}}</label>
  {{/if}}
{{/unless}}