<form {{action "submit" on="submit"}} data-test-id="validating-form" class={{formValidationClass}} novalidate={{emberPojoForms.settings.novalidate}}>
  <div class="form-section form-fields">
    {{#each formFields as |formField|}}
    {{formField.fieldId}}
      {{ember-pojo-form/validating-form-field
        data-test-validating-field
        formField=formField
        customTransforms=(action "customTransforms")
        afterKeyUpAction=afterKeyUpAction
        afterValidationAction=afterValidationAction
        data-test-id=(concat "validating-field-" formField.fieldId)
        changeset=changeset
      }}
      {{#if (and formField.clonable)}}
        <button class="btn btn-outline-primary margin-bottom-lg" {{action "cloneField" formField.cloneGroupName}} data-test-id="add-invitation">{{svg-repo/icons/icon-plus}}{{or formField.cloneButtonText (concat "New " formField.fieldId " field")}}</button>
      {{/if}}
    {{/each}}
  </div>
  {{yield}}
  <div class="form-section form-submit">
    {{#unless formMetaData.hideSubmitButton}}
      {{ember-pojo-form/form-submit-button click=(action "submit" changeset formMetaData.modelName) value=submitButtonText requestInFlight=requestInFlight data-test-id="evf-submit-form-button" class=formMetaData.submitButtonClasses disabled=formMetaData.submitDisabled}}
    {{/unless}}
    {{#if formMetaData.showResetButton}}
      <button class={{formMetaData.resetButtonClasses}} type="button" data-test-id="evf-reset-form-button" onclick={{action "rollback" changeset formFields}}>{{resetButtonText}}</button>
    {{/if}}
  </div>
</form>
{{changeset.invitation}}
{{changeset.invitation-1}}
{{changeset.invitation-2}}
{{changeset.invitation-3}}