<form {{action "submit" on="submit"}} class={{formValidationClass}} novalidate={{formObject.formSettings.novalidate}}>
  <div class="form-section form-fields">
    {{#each formFields as |formField|}}
      {{ember-pojo-form/validating-form-field
        data-test-validating-field
        processedFieldSchema=formField
        afterFieldEdit=(action "afterFieldEdit")
        afterAddClone=afterAddClone
        afterRemoveClone=afterRemoveClone
        afterKeyUpAction=afterKeyUpAction
        submitForm=(action "submit" changeset formSettings.modelName)
        afterFieldValidation=(action "afterFieldValidation")
        dataTestId=(concat "validating-field-" formField.fieldId)
        changeset=changeset
        formSettings=formSettings
      }}
    {{/each}}
  </div>
  {{yield}}
  <div class="form-section form-submit">
    {{#unless formSettings.hideSubmitButton}}
      {{ember-pojo-form/form-submit-button 
        click=(action "submit" changeset formSettings.modelName) 
        value=submitButtonText 
        requestInFlight=requestInFlight 
        data-test-id="evf-submit-form-button" 
        disabled=formSettings.submitDisabled
        formSettings=formSettings
      }}
    {{/unless}}
    {{#if formSettings.showDiscardChangesButton}}
      <button class={{formSettings.showDiscardChangesButtonClasses}} type="button" data-test-id="evf-reset-form-button" onclick={{action "discardChanges" changeset}}>{{formSettings.showDiscardChangesButtonTetx}}</button>
    {{/if}}
    {{#if formSettings.showClearFormButton}}
      <button class={{formSettings.clearFormButtonClasses}} type="button" data-test-id="evf-reset-form-button" onclick={{action "clerarForm" changeset formFields formSettings.modelName}}>{{formSettings.clearFormButton}}</button>
    {{/if}}
  </div>
</form>