<EmberPojoForm::FormFieldLabel 
  @formField={{formField}} 
  @fieldLabelClassNames={{templateSettings.fieldLabelClassNames}} />
<div class="field-controls validation-icon {{ember-fire-forms/array-join templateSettings.fieldControlsClassNames " "}}">
  {{yield}}
</div>
<EmberPojoForm::FormFieldError 
  @changesetProp={{changesetProp}} 
  @formField={{formField}} 
  @displayValidation={{displayValidation}} />