<form {{action "submit" on="submit"}} data-test-id="validating-form" class={{formValidationClass}} novalidate={{formObject.formMetaData.novalidate}}>
  <div class="form-section form-fields">
    {{#each formFields as |formField|}}
      {{ember-pojo-form/validating-form-field
        data-test-validating-field
        processedFieldSchema=formField
        customTransforms=(action "customTransforms")
        afterAddClone=afterAddClone
        afterRemoveClone=afterRemoveClone
        afterKeyUpAction=afterKeyUpAction
        afterValidation=afterValidation
        afterFieldValidation=afterFieldValidation
        data-test-id=(concat "validating-field-" formField.fieldId)
        changeset=changeset
        settings=formSettings
      }}
    {{/each}}
  </div>
  {{yield}}
  <div class="form-section form-submit">
    {{#unless formMetaData.hideSubmitButton}}
      {{ember-pojo-form/form-submit-button 
        click=(action "submit" changeset formMetaData.modelName) 
        value=submitButtonText 
        requestInFlight=requestInFlight 
        data-test-id="evf-submit-form-button" 
        class=formMetaData.submitButtonClasses 
        disabled=formMetaData.submitDisabled
        settings=formSettings
      }}
    {{/unless}}
    {{#if formMetaData.showResetButton}}
      <button class={{formMetaData.resetButtonClasses}} type="button" data-test-id="evf-reset-form-button" onclick={{action "rollback" changeset formFields}}>{{resetButtonText}}</button>
    {{/if}}
  </div>
</form>