{{#if formMetaData.title}}<h3>{{formMetaData.title}}</h3>{{/if}}
<form {{action "submit" on="submit"}} data-test-class="validating-form" data-test-id={{dataTestId}}>
  <div class="form-section form-fields">
  {{#each formFields as |formField index|}}
    {{#unless formField.hidden}}
      {{ember-pojo-form/validating-form-field
        data-test-validating-field
        formField=formField
        setFormFieldValue=(action "setFormFieldValue")
        setFormFieldError=(action "setFormFieldError")
        setFormFieldProperty=(action "setFormFieldProperty")
        customValidations=(action "customValidations")
        customTransforms=(action "customTransforms")
        afterKeyUpAction=afterKeyUpAction
        afterValidationAction=afterValidationAction
        dataTestId=(concat "validating-field-" formField.fieldId)
      }}
    {{/unless}}
  {{/each}}
  </div>
  {{yield}}
  <div class="form-section form-submit">
    {{#unless formMetaData.hideSubmitButton}}
      {{ember-pojo-form/form-submit-button click=(action "submit") value=submitButtonText requestInFlight=requestInFlight data-test-id="evf-submit-form-button" class=formMetaData.submitButtonClasses disabled=submitDisabled}}
    {{/unless}}
    {{#if formMetaData.showResetButton}}
      <button class="{{formMetaData.resetButtonClasses}}" type="button" data-test-id="evf-reset-form-button" onclick={{action "resetForm"}}>{{resetButtonText}}</button>
    {{/if}}
  </div>
</form>