<div class="form-field-clone">
  {{#unless (eq masterFormField.cloneCountStatus "min")}}
    <div role="button" class="hover-pointer remove-clone clone-actions" type="button" onclick={{action removeClone clonedFormField}} data-test-class="remove-clone" title="Remove {{formField.fieldId}}">{{component templateSettings.removeCloneIcon}}</div>
  {{/unless}}
  <EmberPojoForm::ValidatingFormFieldWrapper @formField={{clonedFormField}} @displayValidation={{displayValidation}} @readonly={{readonly}} @validates={{validates}} @typeClass={{typeClass}}>
    {{component clonedFormField.component
      clonedFormField=clonedFormField
      masterFormField=masterFormField
      onFocusOut=(action "onFocusOutClone" index)
      onFocusIn=(action "onFocusInClone" index)
      onKeyUp=(action "onKeyUpClone" index)
      onUserInteraction=(action "onUserInteractionClone" index)
      cloneField=(action cloneField)
      removeClone=(action removeClone)
      changesetProp=changesetProp
      displayValidation=displayValidation
      displayValue=(cloned-form-field-display-value groupValue index)
      templateSettings=templateSettings
    }}
    {{#if (eq displayValidation "invalid")}}
      {{#if (or clonedFormField.fieldErrors (get (get changesetProp.error masterFormField.fieldId) 'validation'))}}
        <div class="ember-pojo-form-field-errors" data-test-class="ember-pojo-form-field-errors">
          {{#each cloneErrors as |error|}}
            <div class="ember-pojo-form-field-error" data-test-class="ember-pojo-form-field-error">{{error}}</div>
          {{/each}}
          {{#each clonedFormField.fieldErrors as |error|}}
            <div class="ember-pojo-form-field-error" data-test-class="ember-pojo-form-field-error">{{error}}</div>
          {{/each}}
        </div>
      {{/if}}
    {{/if}}      
  </EmberPojoForm::ValidatingFormFieldWrapper>
</div>