{{#if (and changeset (not formField.hidden))}}
  {{#ember-pojo-form/validating-form-field-wrapper 
    formField=formField
    displayValidation=displayValidation
    readonly=readonly
    validates=validates
    typeClass=typeClass
    parsedDataTestId=parsedDataTestId
  }}
    {{#if formField.cloneGroupName}}
      <div class="clone-actions">
        {{#if formField.onlyClone}}
          <div role="button" class="hover-pointer add-clone" title="{{or formField.cloneButtonText (concat "New " formField.fieldId " field")}}" type="button" onclick={{action cloneField formField.cloneGroupName}} data-test-id="add-clone">{{svg-repo/icons/icon-plus class="fill-primary"}}</div>
        {{else}}
          <div role="button" class="hover-pointer remove-clone" type="button" onclick={{action removeClone formField changeset formFields}} data-test-class="remove-clone" title="Remove {{formField.fieldId}}">{{svg-repo/icons/icon-trash}}</div>
        {{/if}}
      </div>
    {{/if}}
    {{!-- {{#if (or (eq formField.fieldType "input") (eq formField.fieldType "textarea")) }} --}}
      {{component formField.component
        formField=formField
        onFocusOut=(action "onFocusOut")
        onFocusIn=(action "onFocusIn")
        onKeyUp=(action "onKeyUp")
        onUserInteraction=(action "onUserInteraction")
        changeset=changeset
        displayValidation=displayValidation
        displayValue=(changeset-get changeset formField.fieldId)
      }}
    {{!-- {{else}} --}}
      {{!-- {{component formField.component
        formField=formField
        onUserInteraction=(action "onUserInteraction")
        changeset=changeset
        displayValidation=displayValidation
        displayValue=(changeset-get changeset formField.fieldId)
      }} --}}
    {{!-- {{/if}} --}}
    {{#if formField.lastClone}}
      <div class="clone-group-actions">
        {{#if formField.maxClonesPresent}}
            Max clones reached.
        {{else}}
          {{component settings.addCloneButtonComponent cloneField=(action cloneField) formField=formField}}
        {{/if}}
      </div>
    {{/if}}
  {{/ember-pojo-form/validating-form-field-wrapper}}
{{/if}}