<form {{action "submit" on="submit"}} class={{formValidationClass}} novalidate={{formObject.formMetaData.novalidate}}>
  <div class="form-section form-fields">
    {{#each formFields as |formField|}}
      {{ember-pojo-form/validating-form-field
        data-test-validating-field
        processedFieldSchema=formField
        customTransforms=(action "customTransforms")
        afterAddClone=afterAddClone
        afterRemoveClone=afterRemoveClone
        afterKeyUpAction=afterKeyUpAction
        afterValidation=afterValidation
        afterFieldValidation=afterFieldValidation
        dataTestId=(concat "validating-field-" formField.fieldId)
        changeset=changeset
        formSettings=formSettings
      }}
    {{/each}}
  </div>
  {{yield}}
  <div class="form-section form-submit">
    {{#unless formMetaData.hideSubmitButton}}
      {{ember-pojo-form/form-submit-button 
        click=(action "submit" changeset formMetaData.modelName) 
        value=submitButtonText 
        requestInFlight=requestInFlight 
        data-test-id="evf-submit-form-button" 
        disabled=formMetaData.submitDisabled
        formSettings=formSettings
      }}
    {{/unless}}
    {{formMetaData.submitDisabled}}
    {{#if formSettings.showDiscardChangesButton}}
      <button class={{formSettings.resetButtonClasses}} type="button" data-test-id="evf-reset-form-button" onclick={{action "discardChanges" changeset formFields formMetaData.modelName}}>{{formSettings.resetButtonText}}</button>
    {{/if}}
    {{#if formSettings.showResetButton}}
      <button class={{formSettings.resetButtonClasses}} type="button" data-test-id="evf-reset-form-button" onclick={{action "discardChanges" changeset formFields formMetaData.modelName}}>{{formSettings.resetButtonText}}</button>
    {{/if}}
  </div>
</form>