{{#if formMetaData.title}}<h3>{{formMetaData.title}}</h3>{{/if}}
<form {{action "submit" on="submit"}} data-test-id="validating-form">
  {{#each formFields as |formField index|}}
    {{ember-pojo-form/validating-form-field
      data-test-validating-field
      formField=formField
      setFormFieldValue=(action "setFormFieldValue")
      setFormFieldError=(action "setFormFieldError")
      customValidations=(action "customValidations")
      afterKeyUpAction=afterKeyUpAction
      afterValidationAction=afterValidationAction
      data-test-id=(concat "validating-field-" formField.fieldId)
    }}
  {{/each}}
  {{ember-pojo-form/form-submit-button click=(action "submit") value=submitButtonText requestInFlight=requestInFlight data-test-id="evf-submit-form-button" class=formMetaData.submitButtonClasses}}
  {{#if formMetaData.showResetButton}}
    <button class="{{formMetaData.resetButtonClasses}}" type="button" data-test-id="evf-reset-form-button" onclick={{action "resetForm"}}>{{resetButtonText}}</button>
  {{/if}}
</form>